/* Font Added */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
    font-family: 'Raleway';
}

.bus-btn {
    background: rgba(29, 209, 0, 0.10);
    border: 1px solid rgba(29, 209, 0, 0.40);
    color: #1DD100;
}

.header-green-text {
    color: #1DD100;
}

.buy-ticket-btn {
    background-color: #1DD100;
    color: black;
}
.achievement-icons {
    color: #1DD100;
}

.coupon-sticker {
    background-color: #FFBF0F;
}

.text3 {
    color: rgba(3, 7, 18, 0.80);
}
.coupon-sticker2 {
    background-color: #F78C9C;
}

.all-offer-btn {
    border-color: #1DD100;
    color: #1DD100;
}