/* Font Added */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
    font-family: 'Raleway';
}

.bus-btn {
    background: rgba(29, 209, 0, 0.10);
    border: 1px solid rgba(29, 209, 0, 0.40);
    color: #1DD100;
}

.header-green-text {
    color: #1DD100;
}

.buy-ticket-btn {
    background-color: #1DD100;
    color: black;
}
.achievement-icons {
    color: #1DD100;
}

.coupon-sticker {
    background-color: #FFBF0F;
}

.text3 {
    color: rgba(3, 7, 18, 0.80);
}
.coupon-sticker2 {
    background-color: #F78C9C;
}

.all-offer-btn {
    border-color: #1DD100;
    color: #1DD100;
}
.functional-section {
    background-color: #F7F8F8;
    border-color: #1DD100;
}

.registered-users, .ticket-sold, .rental-partners {
    border-color: #1DD100;
}

.transport-seat {
    background-color: rgba(29, 209, 0, 0.15);
    border-color: #1DD100;
    color: #1DD100;
}
.transport-departure-details {
    background-color: #F7F8F8;
}
.boarding-btns {
    background-color: rgba(3, 7, 18, 0.05);
}
hr {
    border-top: 1px dashed black;
}
.vertical-line {
    border-right: 3px dashed #1DD100
}
.bdt {
    color: #1DD100;
}
.available-seat {
    color: #03071280;
}
.selected-seat {
    color: #1DD100;
}
.seat-numbers {
    font-size: 1rem;
    border-radius: 10px;
    background-color: #F7F8F8;
    padding: 5px;
    width: 50px;
}
.seat-numbers:hover {
    cursor: pointer;
}
.seat-letter {
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 1rem;
}
.divider {
    border-right: 2px dashed rgba(3, 7, 18, 0.30);
}

.seat-pricing-section {
    background-color: #F7F8F8;
}
.apply-btn {
    background-color: #1DD100;
}
.seats-count-bg {
    background-color: #1DD100;
    padding: 2px 10px;
}
.info-submit-btn {
    background-color: #1DD100;
}
.footer-part {
    background-color: #030712;
}
.footer-hr {
    background-color: white;
}

.success-icon {
    color: #27AE60
}
.success-green {
    color: #27AE60;
}
.continue-btn {
    background-color: #27AE60;
}
.success-body {
    background-color: #F2F1F1;
}
.success-page {
    background-color: white;
}
#next-btn-success:hover {
    cursor: pointer;
}
#continue-btns:hover {
    cursor: pointer;
}